body{
    background: linear-gradient(to right, #899499, #e5e4e2, white, #848884);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    background-color: black;
    font-size: 45px;
    font-weight: bold;
    color: red;
    margin-right: 500px;
    border-radius: 30px;
    row-gap: unset;
    text-align: center;
}
p{
    text-decoration: underline;
    border-color: yellow;
    color: blue;
    font-size: 45px;
    font-weight: bold;
}
table{
    width: 1000px;
    height: 1000px;
    border-spacing: 20px;
    border-collapse: separate;
    border: 20px ridge;
    border-color: red;
    border-radius: 30px;
    background-color: silver;
}
img{
    width: 300px;
    height: 300px;
    border-radius: 30%;
}
