body{
    background-color: blueviolet;
}
Section{
    margin: 0 auto;
    width: 500px;
    background-color: #fff;
    align-items: center;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

section p {
    text-align: center;
}
section button{
    margin: 50px;
    background-color: blueviolet;
    color: white;
    box-shadow: none;
}
html{
    scroll-behavior: smooth;
}