@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');
body{
    background: #89CFF0;
    color: white;
}
table{
    background-color: yellow;
    color: black;
    font-weight: bolder;
    border-radius: 8px;
    border: 10px ridge;
    width: 400px;
    height: 300px;
    margin-top: 30px;
    padding-left: 4px;
}
h1{
    font-family: "Momo Signature", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: black;
    color: white;
    border-radius: 10px;
    text-align:center;
    font-family: Momo Trust Display;
    border: 10px ridge;
    border-color: white;
    text-align: center;
    margin-right: 590px;
    
}

.Lähetä{
    color: white;
    background-color: green;
    font-display: auto;
    font-weight: bolder;
    border-radius: 7px;

}
.Lähetä:hover{
    background-color: black;
    color: blue;
    font-size: 20px;
    display: block;
    border: 4px ridge;
    border-color: red;
    text-decoration: underline;
}
